<h1 class="is-size-2 has-text-weight-bold mb-2">Editing Category</h1>

<%= render 'form', category: @category %>

<%= link_to 'Show', admins_category_path(@category), class: 'button is-info is-outlined mr-3' %>
<%= link_to 'Back', admins_categories_path, class: 'button is-danger is-outlined' %>
