<h1 class="is-size-2 has-text-weight-bold mb-2">Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', admins_product_path(@product), class: 'button is-info is-outlined mr-3' %>
<%= link_to 'Back', admins_products_path, class: 'button is-danger is-outlined' %>
