<h1 class="is-size-2 has-text-weight-bold mb-2">Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product, class: 'button is-info' %>
<%= link_to 'Back', products_path, class: 'button is-link' %>
